In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from datetime import timedelta

In [2]:
data = pd.read_csv('dataset/weather-sa-2017-2019-clean.csv')
data.shape

(249023, 15)

In [3]:
#stations = pd.read_csv('dataset/Stations.csv')

In [4]:
#data.iloc[:, [59]]
#data[['CUR_W1','CUR_W2','CUR_W3','CUR_W4','CUR_W4','CUR_W6','CUR_W7','CUR_W8','CUR_W9']ØŒdata['CUR_W10'] > 0]

In [5]:
data.head()

,Unnamed: 0,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,0,Qassim,1 January 2017,00:00,2017,1,1,24,0,Clear,17,11,64%,1018.0,16
1,1,Qassim,1 January 2017,01:00,2017,1,1,1,0,Clear,17,6,64%,1018.0,16
2,2,Qassim,1 January 2017,03:00,2017,1,1,3,0,Clear,15,11,72%,1019.0,16
3,3,Qassim,1 January 2017,04:00,2017,1,1,4,0,Clear,15,11,72%,1019.0,16
4,4,Qassim,1 January 2017,05:00,2017,1,1,5,0,Clear,15,9,72%,1019.0,16

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249023 entries, 0 to 249022
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  249023 non-null  int64
 1   city        249023 non-null  object
 2   date        249023 non-null  object
 3   time        249023 non-null  object
 4   year        249023 non-null  int64
 5   month       249023 non-null  int64
 6   day         249023 non-null  int64
 7   hour        249023 non-null  int64
 8   minute      249023 non-null  int64
 9   weather     249023 non-null  object
 10  temp        249023 non-null  int64
 11  wind        249023 non-null  int64
 12  humidity    249006 non-null  object
 13  barometer   248951 non-null  float64
 14  visibility  249023 non-null  int64
dtypes: float64(1), int64(9), object(5)
memory usage: 28.5+ MB

In [7]:
#deleted_cols = ['QC_COUNT','HEIGHT_850_MEAN','AIR_TEMPERATURE_MEAN_DP','HEIGHT_850_MAX','AIR_TEMPERATURE_MAX_DP','HEIGHT_850_MIN','AIR_TEMPERATURE_MIN_DP','THRMS_0600_MAX','THRMS_0600_MIN','THRMS_1800_MAX','THRMS_1800_MIN','DM_COUNT','DR_COUNT','AUDIT2_BY','AUDIT2_ON']

In [8]:
#data.drop(deleted_cols, axis='columns' ,inplace =True)

In [9]:
data['date'] = pd.to_datetime(data["date"])

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249023 entries, 0 to 249022
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  249023 non-null  int64
 1   city        249023 non-null  object
 2   date        249023 non-null  datetime64[ns]
 3   time        249023 non-null  object
 4   year        249023 non-null  int64
 5   month       249023 non-null  int64
 6   day         249023 non-null  int64
 7   hour        249023 non-null  int64
 8   minute      249023 non-null  int64
 9   weather     249023 non-null  object
 10  temp        249023 non-null  int64
 11  wind        249023 non-null  int64
 12  humidity    249006 non-null  object
 13  barometer   248951 non-null  float64
 14  visibility  249023 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(9), object(4)
memory usage: 28.5+ MB

In [11]:
data['tomorrow'] = data['date'] + timedelta(days=1)

In [12]:
data.head()

,Unnamed: 0,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility,tomorrow
0,0,Qassim,2017-01-01,00:00,2017,1,1,24,0,Clear,17,11,64%,1018.0,16,2017-01-02
1,1,Qassim,2017-01-01,01:00,2017,1,1,1,0,Clear,17,6,64%,1018.0,16,2017-01-02
2,2,Qassim,2017-01-01,03:00,2017,1,1,3,0,Clear,15,11,72%,1019.0,16,2017-01-02
3,3,Qassim,2017-01-01,04:00,2017,1,1,4,0,Clear,15,11,72%,1019.0,16,2017-01-02
4,4,Qassim,2017-01-01,05:00,2017,1,1,5,0,Clear,15,9,72%,1019.0,16,2017-01-02

In [13]:
data

,Unnamed: 0,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility,tomorrow
0,0,Qassim,2017-01-01,00:00,2017,1,1,24,0,Clear,17,11,64%,1018.0,16,2017-01-02
1,1,Qassim,2017-01-01,01:00,2017,1,1,1,0,Clear,17,6,64%,1018.0,16,2017-01-02
2,2,Qassim,2017-01-01,03:00,2017,1,1,3,0,Clear,15,11,72%,1019.0,16,2017-01-02
3,3,Qassim,2017-01-01,04:00,2017,1,1,4,0,Clear,15,11,72%,1019.0,16,2017-01-02
4,4,Qassim,2017-01-01,05:00,2017,1,1,5,0,Clear,15,9,72%,1019.0,16,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249018,2848,Jawf,2019-04-30,19:00,2019,4,30,19,0,Passing clouds,32,19,14%,1014.0,-1,2019-05-01
249019,2849,Jawf,2019-04-30,20:00,2019,4,30,20,0,Passing clouds,29,9,22%,1015.0,-1,2019-05-01
249020,2850,Jawf,2019-04-30,21:00,2019,4,30,21,0,Passing clouds,27,7,24%,1016.0,-1,2019-05-01
249021,2851,Jawf,2019-04-30,22:00,2019,4,30,22,0,Clear,26,0,26%,1017.0,16,2019-05-01
249022,2852,Jawf,2019-04-30,23:00,2019,4,30,23,0,Clear,24,7,29%,1017.0,16,2019-05-01

In [14]:
data['weather'].unique()

array(['Clear ', 'Sunny ', 'Scattered clouds ', 'Partly sunny ',
       'Passing clouds ', 'Refreshingly cool ', 'Low level haze ',
       'Duststorm ', 'Thunderstorms  Passing clouds ', 'Fog ',
       'Thunderstorms  Partly sunny ', 'Light rain  Partly sunny ',
       'Dense fog ', 'Thunderstorms  Scattered clouds ',
       'Rain  Passing clouds ', 'Extremely hot ', 'Rain  Partly sunny ',
       'Pleasantly warm ', 'Hot ', 'Mild ', 'Overcast ',
       'Rain  Overcast ', 'Smoke ', 'Thunderstorms  Broken clouds ',
       'Heavy rain  Partly sunny ', 'Thunderstorms  Overcast ',
       'Light rain  Overcast ', 'Warm ', 'Thunderstorms  Cloudy ',
       'Drizzle  Overcast ', 'Thunderstorms  Partly cloudy ',
       'Broken clouds ', 'Sandstorm ', 'Partly cloudy ', 'Mostly cloudy ',
       'Rain  Partly cloudy ', 'Rain  Broken clouds ',
       'Rain  Scattered clouds ', 'Haze ', 'Rain  Mostly cloudy ',
       'Hail  Partly sunny ', 'Thundershowers  Passing clouds ',
       'Thunderstorms  More clouds than sun ', 'More clouds than sun ',
       'Light rain  Partly cloudy ', 'Light rain  Mostly cloudy ',
       'Drizzle  Mostly cloudy ', 'Drizzle  Partly sunny ',
       'Light rain  Broken clouds ', 'Thunderstorms  Mostly cloudy ',
       'Light rain  More clouds than sun ', 'Thunderstorms  Fog ',
       'Rain  More clouds than sun ', 'Heavy rain  Mostly cloudy ',
       'Heavy rain  More clouds than sun ', 'Light rain  Fog ',
       'Strong thunderstorms  More clouds than sun ',
       'Light rain  Passing clouds ', 'Cool ',
       'Drizzle  More clouds than sun ', 'Drizzle  Fog ',
       'Drizzle  Broken clouds ', 'Heavy rain  Overcast ',
       'Light rain  Scattered clouds ', 'Cloudy ',
       'Strong thunderstorms  Partly sunny ',
       'Strong thunderstorms  Cloudy ', 'Hail  Cloudy ',
       'Thunderstorms  Sandstorm ', 'Sprinkles  Cloudy ',
       'Sprinkles  Overcast ', 'Sprinkles  Duststorm ', 'Rain  Clear ',
       'Sprinkles  Low level haze ', 'Thundershowers  Partly sunny ',
       'Thundershowers  Scattered clouds ', 'Hail  Passing clouds ',
       'Drizzle  Dense fog ', 'Rain showers  Partly sunny ',
       'Rain  Sandstorm ', 'Rain  Fog '], dtype=object)

In [15]:
import re

In [22]:
data['rain_today'] = data['weather'].str.contains('Rain|shower|sprinkle', case = False ,regex=True)

In [23]:
data['rain_today'].value_counts()

False    248124
True        899
Name: rain_today, dtype: int64

In [18]:
data

,Unnamed: 0,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility,tomorrow,rain_today
0,0,Qassim,2017-01-01,00:00,2017,1,1,24,0,Clear,17,11,64%,1018.0,16,2017-01-02,False
1,1,Qassim,2017-01-01,01:00,2017,1,1,1,0,Clear,17,6,64%,1018.0,16,2017-01-02,False
2,2,Qassim,2017-01-01,03:00,2017,1,1,3,0,Clear,15,11,72%,1019.0,16,2017-01-02,False
3,3,Qassim,2017-01-01,04:00,2017,1,1,4,0,Clear,15,11,72%,1019.0,16,2017-01-02,False
4,4,Qassim,2017-01-01,05:00,2017,1,1,5,0,Clear,15,9,72%,1019.0,16,2017-01-02,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249018,2848,Jawf,2019-04-30,19:00,2019,4,30,19,0,Passing clouds,32,19,14%,1014.0,-1,2019-05-01,False
249019,2849,Jawf,2019-04-30,20:00,2019,4,30,20,0,Passing clouds,29,9,22%,1015.0,-1,2019-05-01,False
249020,2850,Jawf,2019-04-30,21:00,2019,4,30,21,0,Passing clouds,27,7,24%,1016.0,-1,2019-05-01,False
249021,2851,Jawf,2019-04-30,22:00,2019,4,30,22,0,Clear,26,0,26%,1017.0,16,2019-05-01,False
249022,2852,Jawf,2019-04-30,23:00,2019,4,30,23,0,Clear,24,7,29%,1017.0,16,2019-05-01,False

In [19]:
#rain_data = data[data['weather'].str.contains('rain|shower|sprinkle', case = False ,regex=True)]

In [20]:
#data['rain_tomorrow'] = data['date'] + timedelta(days=1) & [data['weather'].str.contains('rain|shower|sprinkle', case = False ,regex=True)]

#data['rain_tomorrow'].value_counts()

In [21]:
#data.shape

Series([], Name: rain_today, dtype: int64)

False    103494
True        426
Name: rain_today, dtype: int64

In [31]:
data['rain_today'].where(data['year'] == 2019).value_counts()

False    36261
True       183
Name: rain_today, dtype: int64